[Desktop Entry]
Version=0.0
Name=Axon
Comment=Lightweight terminal emulator
GenericName=Terminal Emulator
Exec=axon
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=GTK;System;TerminalEmulator;
StartupNotify=true
